:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color: #F0F0F0;
  --text-color: #404040;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 100%;
  text-align: center;
}
